*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./photos/background.jpg");
}

h1, h2, h3, h4, h5 {
    color: darkturquoise;
}

h1 {
    font-size: xx-large;
}

h6 {
    font-size: larger;
}

p {
    color: silver;
}

#welcome {
    background-color: transparent;
}

#carouselExampleIndicators {
    border: 1px solid silver;
    border-radius: 10px;
    /* display: flex; */
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90vw;
}

#packages {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./pics/studio.jpg");
    background-size: contain;
    background-attachment: local;
    background-position: center;
}

.tiltLeft {
    transform: rotate(-15deg);
}

.tiltRight {
    transform: rotate(15deg);
}

.float-start, .float-end {
    transition: transform 0.5s ease-in-out;
}

.float-start:hover {
    transform: rotate(-0.05turn) scale(0.8);
    opacity: 50%;
}

.float-end:hover {
    transform: rotate(0.05turn) scale(0.8);
    opacity: 50%;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem 0 0 0;
    color: peachpuff
}

#footer>div {
    display: flex;
    flex: row;
    gap: 0.5rem;
}
